.editor-parent {
    background-color: #1e222d;
    padding: var(--spacingLarge);
    border-radius: 10px;
    width: 500px;
    overflow-y: scroll;
}

.editor-content {
    background-color: #1e222d;
    border: none;
    color: white;
    max-height: 100vh;
    overflow: hidden;
    word-wrap: break-word;
}

.line-number {
    text-align: right;
    height: 16px;
    background-color: #1e222d;
}

.content-row {
    min-width: 200px;
    word-wrap: break-word;
    min-height: 16px;
    line-height: 16px;
}